@import '../../../../variables';
.comments{
    margin-top: 129px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
    }
   .explanation .just-text{
    font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 38px;
   line-height: 62px;
   color: #111112;
   }
   .button-text{
    display: flex;
   }
   .orange{
    width: 123px;
   height: 43px;
    background: #FFB21A;
    border-radius: 18px;
    border: 1px snow;
    margin: 15px 12px 12px 12px;
   }
    .comments .because{
    font-family: $font-comment;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $font-color;
    margin-top: 84px;
    }
    .comments .quote{
        display: flex;
        gap:30px;
        margin-top: 28px;
    }
    .comments .quotation{
    font-family: $font-comment;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;
    }
    .fourpart{
        display: grid;
        grid-template-columns: 334px 334px ;
       gap:42px;
       grid-row-gap: 40px;
    }
    .fourpart .grey-text{
        width: 334px;
        height: 126px;
        background: #F5F5F5;
        border-radius: 24px;
        margin-top: 15px;
    }
    .surname{
        display: flex;
        gap: 10px;
        height: 20px;
        align-items: center;
        padding-top: 16px;
    }
    .rating{
        display: flex;
        gap: 5px;
    }
    .rating .stars{
        font-size: 30px;
        cursor: pointer;
        color: gray;
    }
    .grey-text .name{
    font-family: $font-comment;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding-left: 16px;
    }
    .grey-text .message{
     font-family: $font-comment;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $font-color;
    padding-left: 16px;
    margin-top: 8px;
    white-space: pre-line;
    
    }