$color_1: #111112;
$font-family_1: 'Bungee Spice';
$background-color_1: #F5F5F5;
$background-color_2: #FFB21A;
.get_hungry {
    max-width: 1700px;
    max-height: auto;
    background-color: $background-color_1;
    font-family: $font-family_1;
    margin-left: auto;
    margin-right: auto;
}

.both-container {
    display: flex;
}

.heart {
    max-width: 97px;
    background-color: $background-color_2;
    border-radius: 18px;
    height: 43px;
    margin-left: 224px;
    margin-top: -46px;
    >img {
        padding: 10px 37px 9px 37px;
    }
}

.get_hungry_title {
    font-weight: 700 bold;
    color: $color_1;
    font-size: 45px;
    line-height: 62px;
    margin: auto;
}

.div-text {
    max-width: 559px;
    height: 124px;
    padding-left: 41px;
}

.container-get_hungry-right {
    padding: 0px 191px;
}

.choosing-text {
    height: 44px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.box {
    display: flex;
    gap: 17px;
}

h3 {
    margin: 0;
    margin-top: 5px;
}

.class {
    display: flex;
    gap: 45px;
    margin-top: 178px;
}

.class-two {
    display: flex;
    gap: 45px;
    margin-top: 161px;
}

.class-three {
    display: flex;
    gap: 45px;
    margin-top: 159px;
}

.group {
    width: 854px;
}

p {
    width: 380px;
}