header{
    display: flex;
    height: 45px;
    align-items: center;
    margin-top: 42px;
    justify-content: space-between;
}
.bagsign{
    display: flex;
    gap:27px;
    margin-left: 26px;
    justify-content: center;
    align-items: center;
}
.bag{
    width: 30px;
    height: 30px;
   }
.sign{
width: 96px;
height: 43px;
background-color: #111112;
border-radius: 18px;
color: white;
}