@import "../../variables";
.profile-page{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $background-color;
}
.content-of-profile{
    margin-left: auto;
    margin-right: auto;
}
.data-about-user{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 790px;
}
.all-data-text{
   width: 250px;
   margin: auto;
}
.change-data{
    width: 150px;
    height: 50px;
    position: relative;
    top: 90px;
}
.images-of-user{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    grid-template-areas: 248px;
}
#profile-image{
    border-radius: 50%;
    margin-top: 30px;
}
.image-grid{
    width: 250px;
    height: 250px;
}