$color_1: #111112;
$color_2: #adaeaf;
$font-family_1: "Open Sans",
sans-serif;
section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1448px;
}

.blog_right-part h2 {
    font-weight: 700;
    font-family: $font-family_1;
    color: $color_1;
    width: 83px;
    height: 62px;
    margin: 0;
}

.blog_picture {
    border-radius: 28px;
}

.right_part-h4 {
    font-weight: 700;
    font-family: $font-family_1;
    color: $color_1;
    width: 487px;
    height: 22px;
}

.text-name {
    color: $color_2;
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.text-p {
    color: $color_2;
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 14px;
    max-width: 562px;
    height: 57px;
    line-height: 19px;
}

.blog {
    display: flex;
}

.blog_left-part {
    padding: 66px 20px;
}

.box {
    max-width: 712px;
    height: auto;
    display: flex;
}

.box-p {
    height: 100px;
    width: auto;
}

b {
    color: $color_2;
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

h4 {
    color: $color_1;
    font-family: $font-family_1;
    font-weight: 700;
    line-height: 22px;
}

.image {
    border-radius: 33px;
}

img {
    padding: 9px 9px 10px 0px;
}