$color-text:#111112;
$font-color: #ADAEAF;
$font-comment:'Open Sans';
$background-color:#F5F5F5;
$text-align:center;
$colorwhite:white; 
$color1:#F5F5F5; 
$color2:#ADAEAF; 
$colorgreen:#1AC84B; 
$color3:#FDFBFA; 
$colororange:#FFB21A;
$font-gilroy: 'Gilroy-Regular', sans-serif;

$color_brown: #ADAEAF;
$color_white: #FDFBFA;
$color_black: #111112;
$color_green: #1AC84B;
$font-family_open: 'Open Sans', sans-serif;
$background-white: #F5F5F5;
$background-yellow: #FFB21A;
$background-green: #1AC84B;
$color_blog-black: #111112;
$color_blog-gray: #adaeaf;
$color_boxdiets_black: #111112;
$color_boxdiets_brown: #ADAEAF;
$background-color_boxdiets: white;