$color_brown: #ADAEAF;
$color_white: #FDFBFA;
$color_black: #111112;
$color_green: #1AC84B;
$font-family_open: 'Open Sans',
sans-serif;
$background-white: #F5F5F5;
$background-yellow: #FFB21A;
$background-green: #1AC84B;