$background-color:#F5F5F5;
$text-align:center;
$colortext:#111112;
$font-color: #ADAEAF;
$colortext:#111112; 
$colorwhite:white; 
$color1:#F5F5F5; 
$color2:#ADAEAF; 
$colorgreen:#1AC84B; 
$color3:#FDFBFA; 
$colororange:#FFB21A;
$color-text:#111112;
$font-comment:'Open Sans';
$font-gilroy: 'Gilroy-Regular', sans-serif;